/*---------- | ---------- reset ---------- | ----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

img {
  width: 100%;
  height: auto;
}

/*---------- | ---------- variables ---------- | ----------*/

:root {
  font-size: 62.5%;

  --hue: 159;

  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  --nav-height: 7.2rem;
}

/*---------- | ---------- base ---------- | ----------*/

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--text-color);

  background: var(--body-color);

  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: var(--title-color);

  -webkit-font-smoothing: auto;
}

.button {
  display: inline-block;
  
  border-radius: 0.4rem;
  padding: 1.8rem 3.2rem;
  background: var(--base-color);

  font-weight: 500;
  color: var(--text-color-light);

  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg, 
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

/*---------- | ---------- layout ---------- | ----------*/

#header { 
  display: flex;

  width: 100%;

  background: var(--body-color);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  border-bottom: 1px solid #E4E4E4; 
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;

  height: var(--nav-height);
}

#header .logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  color: var(--title-color);
}

#header .logo span { color: var(--base-color); }

.container {
  /* width: 100%; */
  margin-inline: 2.4rem;
}

.grid {
  display: grid;
  gap: 3.2rem;
}

.section { padding: 8rem 0 }

/* main {
  margin-top: var(--nav-height);
} */

/*---------- | ---------- home ---------- | ----------*/

#home { 
  overflow: hidden; 
  margin-top: var(--nav-height);
}

#home .container { margin: 0; }

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);

  position: absolute;
  top: -16.79%;
  left: 16.69%;
  z-index: -1;
}

#home .image img {
  position: relative;
  right: 4.7rem;
}

#home .image::before,
#home .image img {
  border-radius: 0.4rem;
}

#home .text { 
  margin-inline: 2.4rem;
  text-align: center;
}

#home .text h2 {
  margin-bottom: 1.6rem;
}

#home .text p {
  margin-bottom: 3.2rem;
}